.blue-background-body {
  margin-top: 2rem !important; /* adjust when navbar is edited */
  height: 25rem;
  padding: 0.2rem;
  border-radius: 3rem;
  background-color: #03669e;
}

.center-text {
  padding-top: 1rem;
}
.confirm-message {
  margin-top: 2rem;
}
.notReady-background{
  background: url("images/pet-background2.png");
  background-repeat: no-repeat;
  height: 400px;
  background-size: 100% 100%;
}
.notReady-background-container{
  position:relative;
  top:40px;
}