.blue-background-body {
  margin-top: 2rem !important; /* adjust when navbar is edited */
  height: 25rem;
  width: 100rem;
  padding: 0.2rem;
  border-radius: 3rem;
  background: url('images/background-cropped.png'); /* image citation: canva.com */
  background-repeat: no-repeat;
  background-size: 69rem 25rem;
}

.center-text {
  padding-top: 1rem;
}
.confirm-message {
  margin-top: 2rem;
}
