.blue-background-body {
  height: 25rem;
  width: 100rem;
  padding: 0.2rem;
  border-radius: 3rem;
  background: url('images/background-cropped.png'); /* image citation: canva.com */
  background-repeat: no-repeat;
  background-size: 83rem 25rem;
}

@media only screen and (max-width: 1440px) and (min-width: 601px) {
  .blue-background-body {
    margin-top: 2rem !important; /* adjust when navbar is edited */
    height: 25rem;
    width: 100rem;
    padding: 0.2rem;
    border-radius: 3rem;
    background: url('images/background-cropped.png'); /* image citation: canva.com */
    background-repeat: no-repeat;
    background-size: 70rem 25rem;
  }
}

@media only screen and (max-width: 1905px) and (min-width: 1441px) {
  .blue-background-body {
    margin-top: 2rem !important; /* adjust when navbar is edited */
    height: 25rem;
    width: 100rem;
    padding: 0.2rem;
    border-radius: 3rem;
    background: url('images/background-cropped.png'); /* image citation: canva.com */
    background-repeat: no-repeat;
    background-size: 83rem 25rem;
  }
}

@media only screen and (max-width: 950px) {
  .blue-background-body {
    margin-top: 2rem !important; /* adjust when navbar is edited */
    height: 25rem;
    width: 100rem;
    padding: 0.2rem;
    border-radius: 3rem;
    background: url('images/background-cropped.png'); /* image citation: canva.com */
    background-repeat: no-repeat;
    background-size: 69rem 50rem;
  }
}

@media only screen and (max-width: 600px) {
  .blue-background-body {
    margin-top: 2rem !important; /* adjust when navbar is edited */
    height: 30rem;
    width: 100rem;
    padding: 0.2rem;
    border-radius: 3rem;
    background: url('images/background-mobile-cropped3.png'); /* image citation: canva.com */
    background-repeat: no-repeat;
    background-size: 27rem 31rem;
  }
}

.center-confirmation {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*navbar-color{

}*/

.full-background {
  background-color: #03669e;
}

.center-text {
  padding-top: 1rem;
}
.confirm-message {
  margin-top: 2rem;
}
